<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>URL Compactor</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/uc.css" rel="stylesheet"></link>
</head>
    <body>
        <div style = "margin-left: 5%" id = "uc-not-found-msg-container">
            <h1>URL Compactor Web App</h1>
            <p class="lead">We did our best but did not succeeded to find what you've been looking so far.. Please, Forgive us.. =/</p>
            <p style = "font-size: 400%; align: center;">¯\_(ツ)_/¯ </p>
            <a href = "/">&nbsp;&nbsp;&nbsp;&nbsp; &lt;- Take me home</a>
        </div>
    </body>
</html>