
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
	section { padding: 25px 0; }

	.long-copy{
		text-align: center;
		margin-bottom: 15px;
	}
	
	
	.hero-text-box{
		top:63%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.btn{
		margin-bottom: 20px;
	}

	






	
	
	
	
	.logo
	{
		height:60px;
		width:auto;
		float:left;
		
	
	}
	.social-links{
		display: flex;
    	justify-content: center;
	}
	
	#Layer_1{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}
	#_x33_0{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}
	#Capa_1{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}
	#_x33_0

	{
		display: block;
		margin-left: auto;
		margin-right: auto 
	}
	
	.section-features h3{
		text-align: center;
		

	}
	.change{
		text-align: center;
		margin-bottom: 15px;
	}
	
	.gallery-section h2{
		font-size: 23px;
	}
	
blockquote:before{
	content: "\201C";
	font-size: 300%;
	display: block;
	position: absolute;
	top:3px;
	left:-2px;
}


cite{
	font-size: 90%;
	margin-top: 25px;
	display: block;
	margin-top: 10px;
	margin-bottom:40px;
}


		

	
		
    
}


/*ipad and tablets  481 ot 767*/
@media only screen and (max-width: 767px){
	body{font-size: 16px;}
	section{padding: 30px 0;}

	.row,
	.hero-text-box{padding: 0 4%;

	}
	.col{width: 100%;}
	h1{font-size: 180%;}
	h2{font-size: 150%;}
	.main-nav{display: none;}

	.hello-nav-icon{display: inline-block;}
	.main-nav{
		float: left;
		margin-top: 25px;
		margin-left: 25px;
	}
	.main-nav li{
		display: block;
	}
	.main-nav li a:link,
	.main-nav li a:visited{
		display: block;
		border: 0;
		padding: 5px 0;
		font-size: 100%;
	}
	.social-links{
		display: flex;
		justify-content: center;
		float: none;
		
	}
	
	.sticky .main-nav{margin-top: 10px;}
	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited{padding: 10px 0;}
	.sticky .hello-nav-icon i{color: #555;}
	.sticky .hello-nav-icon {margin-top: 10px;}

}


/* Portrait mode 768 to 1023 */
@media only screen and (max-width: 1023px){
	body{font-size: 18px;}
	section{ padding:60px 0; }
	.social-links{
		display: flex;
    	justify-content: center;
	}

	.long-copy{
		
		width:80%;
		margin-left: 10%;

	}
	
	

}


/* big tablet to 1200px */
@media only screen and (max-width: 1200px){
	.hero-text-box{
		
		width:100%;
		padding:0 2%; 
		
		
	}
	
	.row{
		padding: 0 2%;
	}


	.long-copy{
		
		width:100%;
		margin-left: 0%;
	}
	.social-links{
		display: flex;
    	justify-content: center;
	}


}

/*@media only screen and (max-width: 600px){
	.hello-nav-icon{display: inline-block;}
	.main-nav{
		float: left;
		margin-top: 10px;
		margin-left: 10px;
	}
	.main-nav li{
		display: block;
	}
	.main-nav li a:link,
	.main-nav li a:visited{
		display: block;
		border: 0;
		padding: 3.5px 0;
		font-size: 100%;
	}
	.hero-text-box{
		top:60%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.btn{
		margin-bottom: 20px;
	}
	
}


