.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.card {
  margin: 20px 0;
}
/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  min-height: 80px;
  height: 100%;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}
.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}
.card-flip .front {
  position: relative;
  height: 200px;
  z-index: 1;
}
.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}
.card-container:hover .card-flip {
  transform: rotateY(180deg);
}