//doing this for free t-shirt
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<body>
<div ng-app="">
<table border=1 align=center>
<caption> Simple CALCI example in AngularJS</caption>
<tr>
<td>Number 1</td>
<td><input type=number ng-model="a"></td>
</tr>
<tr>
<td>Number 2</td>
<td><input type=number ng-model="b"></td>
</tr>
<tr>
<td>Addition is</td>
<td>{{a+b}}</td>
</tr>
<tr>
<td>Subtraction is</td>
<td> {{a-b}}</td>
</tr>
<tr>
<td>Multiplication is</td>
<td> {{a*b}}</td>
</tr>
<tr>
<td>Division is</td>
<td>{{a/b}}</td>
</tr>
</table>
</div>
</body>
</html>
