<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
        <img class="potrait" src="/img/me.png">
        <br>
        <div>
            <a class="link" href="https://www.linkedin.com/in/ashutosh-shaha-953753197">LinkedIN</a>
        </div>
    
    </div>
   {{>footer}}
</body>

</html>