<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>Use this link for Source-Code:</p>
        <a class="link" href="https://github.com/ashutosh264/weather-website">GitHub</a>
    </div>
    {{>footer}}
</body>

</html>