<%-include("partials/header")-%>

<div class="container-fluid">
  <div class="lessons-row">
  <div class="l-green lessons-panel" onclick="location.href='/lessons/mathematics';">
    <p class="panel-heading">TELEGU</p>
    <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
    <div class="percentage"><div class="percentage-bar"></div></div>
    <p class ="percentage-number" >66%</p>
  </div>
  <div class="l-blue lessons-panel" onclick="location.href='/lessons/mathematics';">
    <p class="panel-heading">HINDI</p>
    <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
    <div class="percentage"><div class="percentage-bar"></div></div>
    <p class ="percentage-number" >66%</p>
  </div>
  <div class="l-red lessons-panel" onclick="location.href='/lessons/mathematics';">
    <p class="panel-heading">SCIENCE</p>
    <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
    <div class="percentage"><div class="percentage-bar"></div></div>
    <p class ="percentage-number" >66%</p>
  </div>
  <div class="l-skyblue lessons-panel" onclick="location.href='/lessons/mathematics';">
    <p class="panel-heading">BIOLOGY</p>
    <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
    <div class="percentage"><div class="percentage-bar"></div></div>
    <p class ="percentage-number" >66%</p>
  </div>
</div>

<div class="lessons-row">
<div class="l-purple lessons-panel" onclick="location.href='/lessons/mathematics';">
  <p class="panel-heading">ENGLISH</p>
  <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
  <div class="percentage"><div class="percentage-bar"></div></div>
  <p class ="percentage-number" >66%</p>
</div>
<div class="l-lightorange lessons-panel" onclick="location.href='/lessons/mathematics';">
  <p class="panel-heading">MATHEMATICS</p>
  <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
  <div class="percentage"><div class="percentage-bar"></div></div>
  <p class ="percentage-number" >66%</p>
</div>
<div class="l-orange lessons-panel" onclick="location.href='/lessons/mathematics';">
  <p class="panel-heading">SOCIAL</p>
  <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
  <div class="percentage"><div class="percentage-bar"></div></div>
  <p class ="percentage-number" >66%</p>
</div>
<div class="l-lightblue lessons-panel" onclick="location.href='/lessons/mathematics';">
  <p class="panel-heading">GENERAL</p>
  <p class ="white" >12-Videos | 2-Exams | 4-Chapters</p>
  <div class="percentage"><div class="percentage-bar"></div></div>
  <p class ="percentage-number" >66%</p>
</div>
</div>
</div>

<div class="bottom">

</div>

<%-include("partials/footer")-%>
