<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167253333-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167253333-1');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/7e6867c6ce.js" crossorigin="anonymous"></script>
  <!-- local css file -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="background-img">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">DUMMY WEBSITE NAME</span>
  </nav>


<a href="https://facebook.com/"><i class="facebook fab fa-facebook"></i></a>

<a href="https://twitter.com/"><i class=" twitter fab fa-twitter"></i></a>

<a href="https://instagram.com/"><i class="instagram fab fa-instagram"></i></a>

<div class="login shadow">
  <form class="login-form" action="/" method="post">
    <input class = "login-elements login-input" type="text" name="username" placeholder="Username" autocomplete="off" required>
    <input class = "login-elements login-input" type="password" name="password"   placeholder="Password" required>

    <button class =" login-elements btn btn-lg btn-primary" type="submit" name="button">Login</button>
  </form>
</div>

<footer><p class="h1 footer">DUMMY WEBSITE NAME</p></footer>

</html>
