<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>

   <embed src="/pdf/new.pdf" width="100%" height="2100px" />

  </body>
</html>
