<%-include("partials/header")-%>
<div class="ib iframe">
  <iframe class="flex yvideo shadow" src="https://www.youtube.com/embed/JbhBdOfMEPs" width="650" height="400" allowFullScreen="true"></iframe>
</div>
  <h1 class="video-name">Introduction to Mathematics</h1>
   <h4 class="chapter-name">Name of the chapter</h4>
   <div class="subject-row">
    <a class="no-style" href="/lessons/mathematics/video1">

      <div class="shadow lessons-panel subject-panel">
        <img class="computer-svg" src="/images/graduation.svg" alt="">
        <h5>Name of the topic</h5>
        <h6>(Video)</h6>
      </div>

    </a>

    <a class="no-style" href="/lessons/mathematics/video2">

      <div class="shadow lessons-panel subject-panel">
        <img class="computer-svg" src="/images/graduation.svg" alt="">
        <h5>Name of the topic</h5>
        <h6>(Video)</h6>
      </div>

    </a>

    <a class="no-style" href="/lessons/mathematics/pdf">

      <div class="shadow lessons-panel subject-panel">
        <img class="computer-svg" src="/images/graduation.svg" alt="">
        <h5>Name of the topic</h5>
        <h6>(PDF)</h6>
      </div>

    </a>
     <a class="no-style" href="/lessons/mathematics/test">
       <div class="l-test shadow lessons-panel subject-panel">
         <img class="computer-svg" src="/images/online.svg" alt="">
         <h5>Practice Test</h5>
         <h6>40 Marks</h6>
       </div>
     </a>
     <a class="no-style" href="/lessons/mathematics/test">
       <div class="l-test shadow lessons-panel subject-panel">
         <img class="computer-svg" src="/images/online.svg" alt="">
         <h5>Practice Test</h5>
         <h6>40 Marks</h6>
       </div>
     </a>


  <div class="bottom">

  </div>

<%-include("partials/footer")-%>
