html,
body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin: 0;
        min-height: 73px;
        padding: 0;
        width: 125px;
      }


body::-webkit-scrollbar {
  display: none;
}


ul {
    list-style-type: none;
}

a {
  text-decoration: none;
}

#header-btn {
  padding-bottom: 20px;
}

.btn {
  color: white;
  background-color: #000000;
  border-radius: 4px;
  border: none;
  margin-right: 9px;
  line-height: 1.6;
  padding: .5em 2em;
  font: 1em "Trebuchet MS",sans-serif;
  float: left;
}

.container {
  padding: 20px;
}

