* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    outline: none;
    border: none;
    padding: 12px 16px;
    font-size: large;
    font-weight: 600;
    background-color: rgb(50, 255, 50);
}