* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFCE00, #F7A800);
}

header {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

h1 {
    margin-bottom: 30px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
}

.input {
    flex: 1 1 40%;
    margin: 15px;
    appearance: none;
    background: none;
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
}

.input:focus {
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}