@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}
